* {
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 20px 20px;
  font-weight: bold;
}

.container {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
}

.name {
  margin: 5px 5px;
}

.number {
  margin: 5px 5px;
}

ul {
  list-style: none;
}

#scores {
  border: 2px solid black;
}

.recent-scores {
  display: flex;
  flex-direction: column;
}

.add-scores {
  margin-right: 50px;
}

.refresh-recent {
  display: flex;
}

.submit-btn {
  width: 50px;
  margin-left: 95px;
  height: 30px;
}

#refresh {
  width: 50px;
  height: 30px;
}

.item-list {
  list-style: none;
}
